
body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color: white;
}

h1 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 15px;
    font-size: 2em;
}

.p1 {
    display: block;
    max-width: 600px;
    text-align: center;
    color: #7f8d83;
    margin-bottom: 30px;
    font-size: 1.0em;    
}

.p2 {
    color: white;
    text-align: left;
    max-width: 500px;
} 

/* Quadro */
.inputs {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
    background-color: #1a3f58;
}

.inputs p {
    color: white;
    margin: 15px 0 5px 0;
    font-weight: 00;
    
}

/*Campo inserção dados */

input {
    width: 95%;
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s ease;
    background-color: #292a2b;
}

input:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 0 2px rgba(52,152,219,0.1);
}


button {
    cursor: pointer;
    transition: all 0.3s ease;
}

button#button {
    background: #1a3f58;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    max-width: 550px;
    margin-top: 10px;
    
}

button#button:hover {
    background: #2980b9;
}

button[onclick] {
    background: #7f8c8d;
    color: white;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 5px;
    padding: 0;
}


#display {
    background: #ecf0f1;
    padding: 15px;
    border-radius: 5px;
    margin: 20px 0;
    width: 100%;
    max-width: 500px;
    text-align: center;
    font-weight: 500;
    color: #2c3e50;
}


#rodape {
    margin-top: auto;
    color: #7f8c8d;
    font-size: 0.8em;
    padding: 15px;
    text-align: center;
}


@media (max-width: 600px) {
    body {
        padding: 15px;
    }
    
    .inputs {
        padding: 15px;
    }
    
    h1 {
        font-size: 1.5em;
    }
    
    button#button {
        padding: 10px 20px;
    }
}

mark {
    background-color: #e0e0e0 !important;
    color: #2c3e50 !important;
    padding: 2px 5px !important;
    border-radius: 3px;
}